@font-face {
    font-family: myFont;
    src: url(samsungsharpsans.otf);
}
@font-face {
    font-family: myFont-bold;
    src: url(samsungsharpsans-bold.otf);
}


*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    margin: 0;
    font-family: myFont;
    background-color: rgb(180, 221, 180);
}

.heading{
    letter-spacing: 10px;
    font-size: 1em;
    text-align: center;
    font-variant: small-caps;
}

.title{
    text-align: center;
    h1{
        font-family: myFont-bold;
    }
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 100%;
    padding: 30px;
    background-color: rgb(180, 221, 180);
}


.body{
    //display: grid;
    background-color: white;
    height: 100%;
    padding: 20px;
}



.img-container{
    width: 50%;
    margin: auto;

    img{
        width: 100%;
    }
}

.details{
    text-align: center;
    margin: 10px;
    padding: 30px;

    a {
        text-decoration: none;
        color: black;
        background-color: rgb(180, 221, 180);
        padding: 10px;
        border-radius: 20px;
    }    
}

.details-modal{
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    height: 0;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.96);
    transition: all .5s;
    overflow: hidden;

    .heading{
        color: white;
    }

}

.modal-body{
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

.modal-head{
    width: 100%;
    padding: 10px;
    color: #444;
    margin-bottom: 10px;
    border: none;
    font-family: myFont;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    box-shadow: 2px 3px 6px rgba($color: #000000, $alpha: 0.2);
}

#close-det{
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.active{
    background-color: #ccc;
}
.mod-details{
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}

.modal-head:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }


.det-box{
    padding: 10px;
}

.bld{
    font-family: myFont-bold;
}

.location-btn{
    position: fixed;
    left: 10px;
    bottom: 10px;

    a{
        text-decoration: none;
        color: white;
        padding: 9px;
        background-color: black;
        border-radius: 10px 10px 0 0;
        opacity: .5;
        transition: .1s ease-in-out;

        &:hover{
            opacity: 1;
        }
    }

}
.main-box{
    display: flex;


}
.direction-modal{
    display: grid;
    place-items: center;
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.96);
    color: white;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: all .5s;
    overflow: hidden;

    .img-container{
        width: 200px;
        height: 150px;
        border-radius: 20px;
        overflow: hidden;
    }

    a{
        background-color: rgb(180, 221, 180);
        color: black;
        text-decoration: none;
        padding: 10px;
        
    }

}

.direction-box{
    background-color: white;
    padding: 30px;
    color: black;
    margin: 10px;
    font-size: .9em;
}

#close-btn{
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 40px;
    cursor: pointer;

}


@media screen and(max-width: 700px)  {
    .details{
        grid-template-columns: auto;

        h3{
            width: 100%;
        }
    }

    .main-box{
        display: block;
    }
}