@font-face {
  font-family: myFont;
  src: url(samsungsharpsans.otf);
}

@font-face {
  font-family: myFont-bold;
  src: url(samsungsharpsans-bold.otf);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: myFont;
  background-color: #b4ddb4;
}

.heading {
  letter-spacing: 10px;
  font-size: 1em;
  text-align: center;
  font-variant: small-caps;
}

.title {
  text-align: center;
}

.title h1 {
  font-family: myFont-bold;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  background-color: #b4ddb4;
}

.body {
  background-color: white;
  height: 100%;
  padding: 20px;
}

.img-container {
  width: 50%;
  margin: auto;
}

.img-container img {
  width: 100%;
}

.details {
  text-align: center;
  margin: 10px;
  padding: 30px;
}

.details a {
  text-decoration: none;
  color: black;
  background-color: #b4ddb4;
  padding: 10px;
  border-radius: 20px;
}

.details-modal {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  height: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.details-modal .heading {
  color: white;
}

.modal-body {
  margin: 30px;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}

.modal-head {
  width: 100%;
  padding: 10px;
  color: #444;
  margin-bottom: 10px;
  border: none;
  font-family: myFont;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
}

#close-det {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 50px;
  color: white;
  cursor: pointer;
}

.active {
  background-color: #ccc;
}

.mod-details {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
}

.modal-head:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.det-box {
  padding: 10px;
}

.bld {
  font-family: myFont-bold;
}

.location-btn {
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.location-btn a {
  text-decoration: none;
  color: white;
  padding: 9px;
  background-color: black;
  border-radius: 10px 10px 0 0;
  opacity: .5;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.location-btn a:hover {
  opacity: 1;
}

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction-modal {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.96);
  color: white;
  bottom: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.direction-modal .img-container {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
}

.direction-modal a {
  background-color: #b4ddb4;
  color: black;
  text-decoration: none;
  padding: 10px;
}

.direction-box {
  background-color: white;
  padding: 30px;
  color: black;
  margin: 10px;
  font-size: .9em;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 40px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .details {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .details h3 {
    width: 100%;
  }
  .main-box {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */